/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/
:root {
  /* Colors */
  --primary-light: #c4d7c3;
  --primary: #125d0d;
  --primary-dark: #051703;
  --grey-light: #d7d9db;
  --grey: #5d686d;
  --grey-dark: #171a1b;
  --clr-white: #fff;
  /* Shadows */
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* Fonts */
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  /* General */
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --max-width: 1170px;
  --nav-height: 4rem;
}

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--grey-dark);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--grey);
}

.underline {
  width: 8rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--primary);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  text-transform: uppercase;
  background: var(--primary);
  color: var(--primary-light);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn:hover {
  color: var(--primary);
  background: var(--primary-light);
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.section-title {
  margin-bottom: 4rem;
  text-align: center;
}

.bg-grey {
  background: var(--grey-light);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/*
=============== 
Navbar
===============
*/
.nav-links {
  display: none;
}

.nav {
  height: var(--nav-height);
  max-height: var(--nav-height);
}

.nav-center {
  display: grid;
  width: 100%;
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: grid;
}

.nav-btn {
  background: transparent;
  border-color: transparent;
  color: var(--primary);
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
  margin-right: 1rem;
}

.navbar-fixed {
  /* Fixed Navbar */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--clr-white);
  z-index: 2;
  box-shadow: var(--light-shadow);
}

.nav-logo {
  display: none;
  max-height: var(--nav-height);
  margin-left: -1.5rem;
}

@media screen and (min-width: 992px) {
  .nav {
    background: var(--primary-light);
  }

  .nav-btn {
    display: none;
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    justify-self: end;
  }

  .nav-links a {
    text-transform: capitalize;
    color: var(--primary);
    font-weight: bold;
    letter-spacing: var(--spacing);
    transition: var(--transition);
  }

  .nav-links a:hover {
    color: var(--grey-dark);
  }

  .nav-links .active {
    color: orangered;
  }

  .nav-center {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .nav-logo {
    display: block;
  }
}

/*
=============== 
Sidebar
===============
*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--grey-light);
  z-index: 4;
  display: grid;
  place-items: center;
  transition: var(--transition);
  /* Hide */
  transform: translateX(-100%);
  padding: 1rem 0;
  overflow-y: auto;
}

.show-sidebar {
  /* Show */
  transform: translateX(0);
}

.sidebar-links {
  text-align: center;
}

.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  transition: var(--transition);
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
  display: inline-block;
  margin-bottom: 1.5rem;
}

.sidebar-links a:hover {
  color: var(--primary);
}

.sidebar-links .active {
  color: orangered;
}

.social-icons {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 0 2rem 0;
  justify-content: center;
}

.social-icon {
  margin: 1rem;
  font-size: 2rem;
  color: var(--grey-dark);
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--grey);
}

.close-btn {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 3rem;
  background: transparent;
  border: transparent;
  transition: var(--transition);
  color: #bb2525;
  cursor: pointer;
}

.close-btn:hover {
  color: #e66b6b;
}

/*
=============== 
Hero
===============
*/
.hero-img {
  display: none;
}

.hero {
  background: var(--primary-light);
  text-align: center;
}

.hero-center {
  min-height: calc(100vh - var(--nav-height));
  display: grid;
  place-items: center;
}

.hero-info h4 {
  color: var(--clr-grey-5);
}

.hero-btn {
  margin-top: 1.25rem;
}

.hero-btn:hover {
  background: var(--grey);
  color: var(--clr-white);
}

.hero-photo {
  height: 22rem;
  border-radius: var(--radius);
  position: relative;
}

.scroll-icon {
  font-size: 3rem;
  color: var(--primary);
  display: none;
}

.scroll-icon:hover {
  color: var(--grey);
}

@media screen and (min-width: 992px) {
  .hero-img {
    display: block;
    position: relative;
  }

  .scroll-icon {
    display: inline-block;
  }

  .item1 {
    grid-area: item1;
  }

  .item2 {
    grid-area: item2;
  }
  .item3 {
    grid-area: item3;
  }

  .hero-center {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "item1 item2"
      "item3 item3";
  }

  .hero-img::before,
  .about-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--primary);
    top: 2rem;
    right: -2rem;
    border-radius: var(--radius);
  }
}

/*
=============== 
About
===============
*/
.about {
  display: grid;
  place-items: center;
}

.about-title {
  margin-bottom: 2rem;
}

.about-title p {
  text-align: left;
}

.about-center {
  display: grid;
  gap: 3rem 2rem;
}

.about-img {
  justify-self: center;
  display: none;
}

@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-img {
    position: relative;
    display: block;
  }

  .about-img::before {
    left: -2rem;
  }

  .about-info {
    align-self: center;
  }
}

/*
=============== 
Services
===============
*/
.service {
  background: var(--clr-white);
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  text-align: center;
  transition: var(--transition);
}

.service-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.service .underline {
  width: 3rem;
  height: 0.12rem;
  transition: var(--transition);
}

.service p {
  transition: var(--transition);
}

.service:hover {
  background: var(--primary);
  color: var(--clr-white);
}

.service:hover p {
  color: var(--clr-white);
}

.service:hover .underline {
  background: var(--clr-white);
}

@media screen and (min-width: 676px) {
  .services-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*
=============== 
Skills
===============
*/
.skills {
  background: var(--primary-light);
}

.skills h3 {
  margin: 1.5rem 0;
  color: var(--primary-dark);
  text-align: center;
}

.skill {
  margin-bottom: 1.25rem;
}

.skill p {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  color: var(--primary-6);
}

.skill-container {
  background: var(--clr-white);
  height: 1rem;
  width: 100%;
  border-radius: var(--radius);
  position: relative;
}

.skill-value {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--primary);
  height: 100%;
  border-radius: var(--radius);
  /* Progress bar width */
  width: 50%;
}

.value-75 {
  /* Progress bar width */
  width: 75%;
}

.skill-text {
  position: absolute;
  top: -2rem;
  /* Percentage text location */
  left: 50%;
  transform: translateX(-50);
}

.skill-text-75 {
  /* Percentage text location */
  left: 75%;
}

@media screen and (min-width: 768px) {
  .skills-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

/*
=============== 
Timeline
===============
*/
.timeline-center {
  width: 80vw;
  max-width: 40rem;
}

.timeline-item {
  border-top: 2px dashed var(--primary);
  margin: 0;
  padding: 4rem 2rem;
  position: relative;
}

.timeline p {
  margin-bottom: 0;
}

.timeline .iframe {
  width: 100%;
  height: auto;
}

.timeline-img {
  margin-top: 1rem;
}

.timeline-item:nth-child(even) {
  border-left: 2px dashed var(--primary);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-right: 2rem;
  padding-right: 0;
}

.timeline-item:nth-child(odd) {
  border-right: 2px dashed var(--primary);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 2rem;
  padding-left: 0;
}

.timeline-item:first-child {
  border-top: 0;
  border-top-right-radius: 0;
}

.timeline-item:last-child {
  border-bottom-left-radius: 0;
}

.number {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
  background: var(--primary);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: var(--clr-white);
  font-weight: bold;
}

.timeline-item:nth-child(even) .number {
  left: 0;
}

.timeline-item:nth-child(odd) .number {
  right: 0;
  transform: translate(50%, -50%);
}

@media screen and (min-width: 568px) {
  .timeline-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .timeline .iframe {
    height: 20rem;
  }

  .timeline-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*
=============== 
Projects
===============
*/
.projects {
  background: var(--grey-light);
}

.projects-title {
  margin-top: 2rem;
}

.projects-text {
  width: 85%;
  max-width: 30rem;
  margin: 0 auto;
  color: var(--grey-dark);
}

.projects-text a {
  color: var(--clr-white);
  text-shadow: 1px 1px 2px var(--grey-dark);
}

.projects-text a:hover {
  color: var(--primary);
  transition: var(--transition);
}

.project {
  position: relative;
  background: var(--primary);
  border-radius: var(--radius);
  margin-bottom: 2rem;
}

.projects-text {
  text-align: left;
}

.project-info {
  text-align: center;
  color: var(--clr-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
  text-shadow: 1px 1px 2px var(--grey-dark);
}

.project-info p {
  text-transform: capitalize;
  color: var(--clr-white);
}

.project:hover .project-info {
  opacity: 1;
}

.project-img {
  transition: var(--transition);
  border-radius: var(--radius);
  height: 15rem;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.9;
}

.project:hover .project-img {
  opacity: 0.1;
}

.project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.25rem solid var(--clr-white);
  border-radius: var(--radius);
  transition: var(--transition);
  opacity: 0;
}

.project:hover::after {
  opacity: 1;
  transform: scale(0.8);
}

@media screen and (min-width: 676px) {
  .projects-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .projects-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1170px) {
  .projects-center {
    grid-template-rows: 200px 200px;
    gap: 1rem;
    grid-template-areas:
      "a b b"
      "a c d";
  }

  .project-1 {
    grid-area: a;
  }

  .project-2 {
    grid-area: b;
  }
  .project-3 {
    grid-area: c;
  }
  .project-4 {
    grid-area: d;
  }

  .project,
  .project-img {
    height: 100%;
  }
}

/*
=============== 
Contact
===============
*/
.contact {
  position: relative;
  padding: 10rem 0 5rem 0;
  background: var(--primary-light);
  display: grid;
  place-items: center;
  min-height: calc(85vh - var(--nav-height));
}

.contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--grey-light);
  opacity: 0.7;
  z-index: -1;
}

.contact-btn {
  margin-bottom: 1rem;
}

.contact-btn:hover {
  background: grey;
  color: var(--clr-white);
}

.contact-banner {
  background: var(--clr-white);
  padding: 3rem 5rem 12rem 5rem;
  text-align: center;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}

.contact-banner .section-title {
  margin-bottom: 2rem;
}

.contact-text {
  max-width: 30rem;
  text-align: left;
}

/*
=============== 
Footer
===============
*/
.footer {
  display: grid;
  place-items: center;
  padding: 1rem 0;
  background: var(--primary-dark);
  min-height: calc(15vh - var(--nav-height));
}

.footer .social-icon {
  color: var(--primary-light);
}

.footer .social-icon:hover {
  color: var(--primary);
}

.footer p {
  text-align: center;
  font-size: 1.25rem;
  margin: 1rem;
}
